body
{
	background:			#fff;
	font-family:		"Courier New", Courier, monospace;
	display:			grid;
	grid-template-rows:	4em 6em auto auto;
	height:				99vh;
	margin:				0;
	padding:			0;
}

a
{
	color:				black;
	text-decoration:	none;
}

hr
{
	border:				1px solid black;
	border-left:		1px solid white;
	border-right:		1px solid white;
	height:				1px;
	border-top:			0;
	margin-top:			0.5em;
	margin-bottom:		0.5em;
}

h1
{
	text-align:			center;
	font-size:			2em;
}

h2
{
	font-size:			1em;
	text-align:			center;
	font-weight:		normal;
}

/*
**************************************************
*** INPUT
**************************************************
*/

input[type=button]
{
	background:			#fff;
	border:				1px solid black;
	cursor:				pointer;
}

input[type=button]:hover
{
	border:				1px dotted black;
}

/*
********************************************************************************
*** BLOCKS
********************************************************************************
*/

.block {
	border:				1px solid black;
	margin:				1em;
	padding:			1em;
	overflow-y:			auto;
}

/*
**************************************************
*** DEFAULT
**************************************************
*/

#default {
}

/*
**************************************************
*** RULES
**************************************************
*/

#rules {
	overflow-y:			auto;
}

#rules li:hover {
	cursor:				pointer;
}

ul
{
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

ul input[type=button]
{
	margin:				0.5em;
}

/*
**************************************************
*** NEW RULE
**************************************************
*/

#new_rule {
}

#rule {
	margin-bottom:		1em;
}

/*
******************************
*** CONDITIONS
******************************
*/

#conditions {
	display:				grid;
	grid-template-columns:	7em auto;
	margin-left:			10em;
}

#condition_logical {
	margin-right:			1em;
}

#condition_list {
	margin-top:				0.5em;
}

#condition_list li {
	padding-bottom:			1em;
}

#condition_new {
	margin-top:				1em;
	margin-left:			10em;
	display:				block;
}

